@tailwind base;
@tailwind components;
@tailwind utilities;

/* Display Borders */
html {
  height: 350px;
}

/* Styles for #canvas DIV */
#canvas {
  width: 400px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* changeing the style of add-url button */
#add-url {
  display: none;
  background-color: transparent;
  border: 1px solid #d1d5da;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  border-radius: 6px;
}

/* add-url onhover */
#add-url:hover {
  background-color: #f6f8fa;
  border-color: #c8e1ff;
  border-radius: 6px;
}

/* add-url onhover fill */
#add-url:hover .octicon-copy {
  fill: #40c463;
}

#add-url-feedback {
  display: none;
  position: absolute;
  top: -24px;
  left: 0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px;
  font-size: 12px;
}

#add-url-icon {
  width: 16px;
  height: 16px;
}

/* changeing the style of URLs List Container */
#urls-list-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}
