@tailwind base;
@tailwind components;
@tailwind utilities;

.copy-button {
  background-color: #fff;
  border: 1px solid #d1d5da;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  border-radius: 6px;
}

.copy-button:hover {
  background-color: #f6f8fa;
  border-color: #c8e1ff;
  border-radius: 6px;
}

.copy-button:hover .octicon-copy {
  fill: #0366d6;
}

.copy-feedback {
  display: none;
  position: absolute;
  top: -24px;
  left: 0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px;
  font-size: 12px;
}
